@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');


body{
  font-family: 'Rubik', sans-serif;
}
#topbar
{
  position: absolute;
  left: 45vw;
  bottom: 94vh;
  width: 50vw;
  color: white;
  font-size: 1vw;
}

#text-logo
{
  top: 1.5vh;
  left: 11vw;
  width: 15vw;
  height: 5vh;
}
h1
{
  position: relative;
  top: 0vh;
}
#logo
{
  border-radius: 100%;
  position: absolute;
  bottom: 6vh;
  
  width: 5vw;
  height: auto;
  border: 1px solid white;
  max-width: 7vw;
}

.logo-text p 
{
  position: absolute;
  bottom: 1vh;
  font-size: 1vw;
  color: white;
}
.logo-text{
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.sideBar {
  text-decoration: none;
  height: 100%;
  width: 10vw;
  font-size: 2vh;

  position: fixed;
  z-index: 99; 
  background-color:#232323; 
  transition: 1s ease; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  border-right: 5px solid gray;
  transition-duration: 0.5s;
}

.sideBar a {
  text-decoration: none;
  color: white;
  height: 75px;
  transition-duration: 0.5s;

}
.sideBar a:hover {
  text-decoration: none;
  transition-duration: 0.5s;
  color: green;
  height: 75px;
  font-size: 2.25vh;
}
.sideBar #settings-sidebar-icon
{
  transition: transform .7s ease-in;
}

.sideBar #settings-sidebar-icon:hover
{
  color:green;
  transform: rotate(360deg);
}

body
{
  background-color: #282c34;
  overflow: hidden; 
}

#save{
  position: absolute;
  left: 11vw;
  top: 2vh;
  background-color: white;
  width: 5vw;
  min-width: 5vw;
  height: 3vh;
  border-radius: 10%;
  border: 2px solid black;
  transition-duration: 0.5s;
}
#save:hover{
  transition-duration: 0.5s;
  background-color: rgb(105, 201, 116);
}


#settings
{
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 99;
  width: 50vw;
  height: 50vh;
  border: 1px solid green;
  background-color: black;
  text-align: center;
  opacity: .5;
  transition-duration: 0.5s;
  border-radius: 5%;
}
#settings h1 {
  color: white;
}

div h1
{
  transition-duration: 0.5s;
  color:white;
}
div h1:hover
{
  transition-duration: 0.5s;
  color:green;
}

#Homepage{
  position: absolute;
  left: 39.25vw;

}
#Homepage h1
{
  font-size: 4vw;
  position: relative;
  right: 15vw;
}

#Homepage p
{
  position: relative;
  top: 25vh;
  right: 17vw;
  font-size: 2vw;
  color: white;
  transition-duration: 0.5s;
  text-align: center;
}
#Homepage p:hover
{
  transition-duration: 0.5s;
  font-size: 2.5vw;
  color: rgb(105, 201, 116);
}